<div id="sidebar" class="my-5">
    <ul class="list-group">
        <li class="list-group-item" style="background-color: #01b14c; color: #fff">
            <a href="#" class="nav-link">Deshbord</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="nav-link">View your profile</a>
        </li>
        <li class="list-group-item">
            <a href="   getprofile" class="nav-link">Update your profile</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="nav-link">have something</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="nav-link">Comments</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="nav-link">have something</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="nav-link">Change password</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="nav-link">Explorer</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="nav-link">Logout</a>
        </li>
    </ul>
</div>