

<%- include("../partial/header.ejs")%>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            
            <h6 class="display-6 mt-5 text-info">Dear user please your login or regester because 
                Our service in authenticated, please click user icon and login OR register ,

                Enjoy your browser!
            </h6>
        </div>
    </div>
</div>



<%- include("../partial/footer.ejs")%>
